body {
  background-image: url(https://img.freepik.com/free-vector/hand-painted-color-cherry-seamless-background-watercolor-red-fruit-template-texture_7586-309.jpg?size=338&ext=jpg);
  text-align:center;
 font-family: 'Playfair Display', serif;}
 .bodytext{
   font-size: 140%;
 }
 .titleclass {
   font-size:400%;
 }
